.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-xl, .bg-white, .text-white {
  font-family: "Inter", sans-serif; Arial, sans-serif;
}

.input_field {
  height: 40px;
  padding-inline: 10px;
  width: 90%;
  margin-top: 10px;
}

.rounded-br-none {
  background-color: #fff;
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0px 10px auto;
}

.text-gray-800 {
  background-color: #ccdaff;
  width: 50%;
  padding: 10px;
  border-radius: 5px;
}
 
.flex-1.space-y-4 {
  height: 70vh;
  background: #f4f6f8;
  padding: 10px;
}

